.fondcouleur
  height: 300px
  color : $mainsaumon

.form-box-login
  max-height: 350px
  background: $mainsaumon
  width: auto

  label
    color: $lenoir

.btn-connect
  background-color: white
  font-weight: 700
  font-size: 1.2em
  display: inline-block
  border-radius: 100000px
  font-size: 1em
  box-shadow: 0px 4px 20px rgba(255, 181, 133, .5)
  min-width: 200px
  margin-left: 48px

  a
    color: $lenoir
