.form-box-admin
  color: white
  max-height: 350px
  background: white
  width: auto
  padding: 16px 8px
  border-radius: 8px 8px 8px 8px

.nom
  color: $lenoir
  font-size: 1.4em

.attente
  color: $lenoir

.imgadmin
  height: 2em

h4
  color: white

.skurt
  margin-top: 2em

.admin
  padding-bottom: 1em
