.fondcouleur
  height: 400px
  color : $lenoir

.form-box-signup
  min-height: 600px
  background: $mainsaumon
  width: auto

  label
    color: $lenoir

.textbox
  font-size: 0.65em
  margin-top: 1em

.pacompte
  padding-bottom: 3em
  padding-top: 1em
  color: white


a
  color: white
