h5
  color: white

p
  color: white

.hobbies
  color: $mainsaumon
  font-size: 1em
  font-weight: 700

.erico
  width: 12em



.taghobbies
    background-color: white
    font-weight: 700
    font-size: 1.2em
    display: inline-block
    border-radius: 100000px
    font-size: 1em
    box-shadow: 0px 4px 20px rgba(255, 181, 133, .5)
    padding: 8px 16px
    margin-left: 1em
