.traj
  color: $lenoir
  font-size: 1em

.prix
  color: #51BDE6
  font-weight: 700

.detail-link
  color: $mainsaumon
  font-weight: 700
  font-size: .9em

.user-profile-link
  color: $lenoir !important
  font-weight: 700
  font-size: .8em
