body
  font-size: 100%
  background-color: $lenoir

  .landing-section
    background-image: url("/assets/img/fond.png")
    background-repeat: no-repeat
    background-size: cover
    height: 70vh

    .title
      margin-top: 120px

      h2
        color: white

    .boutonprop
      background-color: $mainsaumon
      border-radius: 100000px
      font-weight: 700
      font-size: 1.2em
      display: inline-block
      min-width: 300px
      padding: 16px
      margin: 0px 8px
      box-shadow: 0px 4px 20px rgba(255, 181, 133, .5)
