h2
  margin-top: 1em
  color: white


label
  color: $mainsaumon
  font-weight: 700

.btn-next
  background-color: $mainsaumon
  font-weight: 700
  font-size: 1.2em
  display: inline-block
  border-radius: 100000px
  font-size: 1em
  box-shadow: 0px 4px 20px rgba(255, 181, 133, .5)
  min-width: 200px
  margin-left: 48px

.btn-goback
  color: white

.btn-grp
  margin-top: 40px
